.first{
    height: 20vh;
}
.all-in-one{
    background: linear-gradient(rgba(0, 0, 0, 0.9) , rgba(0,0,0, 0.9)) ,url("../../../../../images/sec1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-section{
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-first-content{
    border-bottom: none;
    max-width: 70vw;
    width: 100%;
    margin: auto;
}
.main-title{
    max-width: 90%;
    margin: auto;
}
.main-title h1{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    line-height: 50px;
    color: white;
}
.form-content{
    margin-top: 60px;
    height: 82px;
    border: none;
    margin-top: 90px;
    background-color: var(--grey-search);
    border-radius: 10px;
}
.search-in-form{
    height: 77px;
    width: 75%;
    border: none;
    background-color: var(--grey-search);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    padding-left: 30px;
    font-size: 24px;
    font-weight: 500;

}
.search-form button{
    width: 25%;
    height: 82px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background: rgb(149,111,240);
    background: linear-gradient(90deg, rgba(149,111,240,1) 0%, rgba(79,53,196,1) 100%);
    font-size: 28px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
::placeholder{
    color: var(--grey-400);
}