.asecond li a{
    color: rgb(0, 0, 0);
}
.second-bar-header-nav{
    background-color: rgb(255, 255, 255);
}
.second-bar-header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}